.bash_history
AppData/
Contacts/
Desktop/
Documents/
Downloads/
Favorites/
Links/
Music/
NTUSER.DAT
NTUSER.DAT{6cced2f1-6e01-11de-8bed-001e0bcd1824}.TM.blf
NTUSER.DAT{6cced2f1-6e01-11de-8bed-001e0bcd1824}.TMContainer00000000000000000001.regtrans-ms
NTUSER.DAT{6cced2f1-6e01-11de-8bed-001e0bcd1824}.TMContainer00000000000000000002.regtrans-ms
Pictures/
Saved Games/
Searches/
Tracing/
Videos/
WebstormProjects/
float/
frontend-nanodegree-mobile-portfolio/
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini
positions-and-floats/
repo/
repo2/
repo3/
task/
